.btn-add-cart {
    background-color: #111111 !important;
}

.success-action {
    background-color: $green-500 !important;
}

.success-action:disabled {
    background-color: $green-200 !important;
}

.page-container{
    margin-top: 50px;
    margin-bottom: 15px;
}

  